-# This layout is no longer relevant! We are using Cells - for much speedier proccessing.
-#  !!!
-#  %html
    %head
      %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
      %title TrailblazerRailsBasicSetup
      = csrf_meta_tags
      = stylesheet_link_tag    'application', media: 'all'
      = javascript_include_tag 'application'
    %body
      hello
      = yield
